.btn-primary {
    background-color: #f6f6f6 !important;
    border-color: #95c76c !important;
    color: #95c76c !important;
    font-weight: bolder;
}

.btn-primary:hover {
    background-color: #95c76c !important;
    border-color: #95c76c !important;
    color: #f6f6f6 !important;
}

.btn-primary:disabled {
    background-color: #95c76c !important;
    border-color: #f6f6f6 !important;
    color: #f6f6f6 !important;
}
