.btn-primary {
    font-weight: bolder;
    background-color: #3e78ba !important;
    border-color: #3e78ba !important;
    color: #fff !important;
}

.btn-primary:hover {
    font-weight: bolder;
    background-color: #326094 !important;
    border-color: #3e78ba !important;
    color: #ffff !important;
}

.btn-primary:disabled {
    background-color: #3e78ba !important;
    border-color: #f6f6f6 !important;
    color: #f6f6f6 !important;
}
.btn-primary {
    font-weight: bolder;
    background-color: #f8f8f8 !important;
    border-color: #f8f8f8 !important;
    color: #3e78ba !important;
}
