<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Game store</title>
 <link rel="stylesheet" href="./../css/cart.css">
 <link rel="stylesheet" href="../css/chupapi.css">
  <link rel="stylesheet" href="./../css/prodcts.css">
  <link rel="stylesheet" href="path/to/bootstrap.min.css">
  <link rel="stylesheet" href="path/to/your/css/style.css">
</head>

<body>
  <div id="_header"></div>
  <section>
    <div>
    <h1>Your Shopping Cart</h1>
    <ul id="cart-list"></ul>
    </div>
    <div id="images" class="row"></div>
  </section>
  
</body>

</html>
