<header id="header" class="fixed-top">
    <nav class="navbar navbar-light" style="background-color: #e1e1e1">
        <div class="container d-flex justify-content-between align-items-center">
            <div class="d-flex" style="height: 34px">
                <div>
                    <a class="navbar-brand me-4" style="color: #3e78ba; font-weight: bolder; height: 100%" href="/">DDDDM Gaming</a>
                </div>
                <div class="dropdown me-3">
                    <button class="nav-link dropdown-toggle" style="color: #3e78ba; font-weight: bolder; text-align: center; height: 100%" id="maintenance" type="button" data-bs-toggle="dropdown" aria-expanded="false">Maintenance</button>
                    <ul class="dropdown-menu">
                        <button id="vendorsbtn" class="dropdown-item">Maintain Vendors</button>
                        <button id="maintainProductsBtn" type="button" class="dropdown-item">Maintain Products</button>
                        <button id="maintainUsersBtn" type="button" class="dropdown-item">Maintain Users</button>
                        <button id="maintainOrdersBtn" type="button" class="dropdown-item">Maintain Orders</button>
                    </ul>
                </div>
                <div class="dropdown">
                    <button class="nav-link dropdown-toggle" style="color: #3e78ba; font-weight: bolder; text-align: center; height: 100%" id="reports" type="button" data-bs-toggle="dropdown" aria-expanded="false">Reports</button>
                    <ul class="dropdown-menu">
                        <button id="sales_by_vendor" class="dropdown-item">Sales by Vendor</button>
                        <button id="last_week_sales" type="button" class="dropdown-item">Last Week Sales</button>
                    </ul>
                </div>
            </div>
            <div>
                <button id="editAccount" class="btn" style="color: #3e78ba; font-weight: bolder; text-align: center; height: 100%">Edit Account</button>
                <button id="cart" class="btn" style="color: #3e78ba; font-weight: bolder; text-align: center; height: 100%">Cart</button>
                <button id="loginBtn" class="btn btn-primary" style="color: #3e78ba; font-weight: bolder; text-align: center; height: 100%">Login</button>
                <button id="registerBtn" class="btn btn-primary btn-spacing" style="color: #3e78ba; font-weight: bolder; text-align: center; height: 100%">Register</button>
                <button id="myOrders" class="btn" style="color: #3e78ba; font-weight: bolder; text-align: center; height: 100%">My Orders</button>
                <button id="disconnectBtn" type="button" class="btn" style="color: #3e78ba; font-weight: bolder; text-align: center; height: 100%">Disconnect</button>
            </div>
        </div>
    </nav>
</header>
