<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Game store</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
        <link rel="stylesheet" href="./../css/index.css" />
        <link rel="stylesheet" href="./../css/product.css" />
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

        <script src="./../model/model.js"></script>

        <script src="./../controller/utils.js"></script>
        <script src="./../controller/header.js"></script>

        <script src="./../api/Api.js"></script>

        <script src="../controller/maintain_users.js"></script>
    </head>

    <body>
        <div id="_header"></div>
        <!--Users Table-->
        <div class="container mt-4">.</div>
        <div class="container mt-4">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>User Name</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody id="userTableBody">
                    <!-- User data will be inserted here dynamically -->
                </tbody>
            </table>
            <!--Edit User Modal-->
            <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editModalLabel">Edit User</h5>
                            <button type="button" class="close" id="closeModalBtn1" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="editUserForm">
                                <input type="hidden" id="editUserId" name="userId" />
                                <div class="form-group">
                                    <label for="editUserName">User Name</label>
                                    <input type="text" class="form-control" id="editUserName" name="userName" />
                                </div>
                                <div class="form-group">
                                    <label for="editPassword">Password</label>
                                    <input type="password" class="form-control" id="editPassword" name="password" />
                                </div>
                                <div class="form-group">
                                    <label for="editFirstName">First Name</label>
                                    <input type="text" class="form-control" id="editFirstName" name="fname" />
                                </div>
                                <div class="form-group">
                                    <label for="editLastName">Last Name</label>
                                    <input type="text" class="form-control" id="editLastName" name="lname" />
                                </div>
                                <div class="mb-3">
                                    <label for="userType" class="form-label">User Type</label>
                                    <select class="form-select" id="userType" name="userType" required>
                                        <option selected disabled>Select user type</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="editEmail">Email</label>
                                    <input type="email" class="form-control" id="editEmail" name="email" />
                                </div>
                                <div class="form-group">
                                    <label for="editPhone">Phone</label>
                                    <input type="text" class="form-control" id="editPhone" name="phone" />
                                </div>
                                <div class="form-group">
                                    <label for="editBirthday">Birthday</label>
                                    <input type="date" class="form-control" id="editBirthday" name="birthday" />
                                </div>
                                <div class="form-group">
                                    <label for="editCity">City</label>
                                    <input type="text" class="form-control" id="editCity" name="city" />
                                </div>
                                <div class="form-group">
                                    <label for="editStreet">Street</label>
                                    <input type="text" class="form-control" id="editStreet" name="street" />
                                </div>
                                <div class="form-group">
                                    <label for="editHouseNumber">House Number</label>
                                    <input type="text" class="form-control" id="editHouseNumber" name="housenum" />
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" id="closeModalBtn2" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" id="saveChangesBtn">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
